.ng-autocomplete {
    width: inherit;
}

fieldset {
    width: 30em;
    height: 35em;
    opacity: 100%;
}

.dashboard-container {
    text-align: center;
}

.search-form-container {
    display: inline-block;
    padding-top: 10px;
}

.fields-container {
    background-color: lighten($color: #000000, $amount: 90%);
    opacity: 100%;
}

.data-holder input {
    height: 2.5em;
}

.data-holder #availabilitySearchSubmit {
    width: 483px;
    height: 40px;
}

.data-holder label {
    height: 2.5em;
}

.selected-hotel-area {
    height: 10em;
}

.data-holder {
    padding-top: 2em;
}

.data-holder button {
    padding: 2em;
}

.selected-hotel-area {
    position: relative;
    text-align: center;
}

.selected-hotel-area .selected-hotel{
    padding-top: 20px;
}